

/*通用的样式*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*清除浮动副作用*/
.clearfix:after {
    content: "";
    display: block;
    clear:left
}

/*顶部导航栏*/
.nav {
    background-color: black;
}
/*浮动*/
ul.nav-left>li {
    float: left;
    list-style-type: none;
    padding: 15px;
}
ul.nav-rigth>li {
    float: right;
    list-style-type: none;
    padding: 15px;
}
/*变色*/
ul a {
    color: darkgray;
}
ul a:hover {
    color: white;
}
/*80%缩进*/
.container {
    width:80%;
    margin: 0 auto;
}

